/* h3{
    font-family: "Times New Roman", Times, serif;
}
.login-body{
    margin-top: 100px;
} 
.errorText{
    color: red;
    margin-left: 7px;
}
.user_card {
        height: 400px;
        width: 350px;
        margin-top: auto;
        margin-bottom: auto;
        background: #f39c12;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;

}
.form_container {
        margin-top: 100px;
}
.login_btn {
        width: 100%;
        background: #c0392b !important;
        color: white !important;
}
.button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}

.login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
.login_container {
        padding: 0 2rem;
}
.input-group-text {
        padding: 15px;
        background: #c0392b !important;
        color: white !important;
        border: 0 !important;
        border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
        box-shadow: none !important;
        outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
        background-color: #c0392b !important;
}

.registerPage{
        background-color: #f1f1f1;
        padding-bottom: 5rem;
}

.registerPage h1{
        font-family: 'Times New Roman', Times, serif;
}

.sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        left: 0;
        background-color: rgb(17, 17, 17);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
}
      
.sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        transition: 0.3s;
}
      
.sidebar a:hover {
        color: #f1f1f1;
}
      
 .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
 .openbtn {
        font-size: 15px;
        cursor: pointer;
        background-color: #111;
        color: white;
        padding: 10px 15px;
        border: none;
}
      
.openbtn:hover {
        background-color: #444;
      }
      
 .mainBody {
        transition: margin-left .5s;
        /* padding: 16px 16px 0px 16px; */

      
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/* @media screen and (max-height: 450px) {
        .sidebar {padding-top: 15px;}
        .sidebar a {font-size: 18px;}
}
.carousel-item img{
    height: 655px;
}

.allusersdisplay{
    background-color: rgb(216, 206, 206);    
}

.card-display{
     display: flex;
     flex-wrap: wrap;
}

.card{
        width: 20rem;
        flex-basis: calc(33.333% - 4rem);
        border: 1px solid #1a3dff;
        margin: 10px;
        flex-grow: 1;
}

.card img{
        height: 25rem;
}

.todo-box{
        border: 1px black;
} 

.editpagebody{
        background-color: #f1f1f1;
}
.editcard{
        margin-left: 2rem;
}
.editform{
        margin-top: 5rem;
        margin-right: 2rem;
}
.updatebutton{
        margin: 0px 100px 0px 80px;
}
.errorImage{
        width: 100%;
        height: 638px;
}  */

body{
        background: url(https://images.unsplash.com/photo-1574192324001-ee41e18ed679?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);
}

.login-com{
        width: 90%;
        max-width: 40rem;
        margin: 2rem auto;
        padding: 2rem;
        
}

.login-control{
        margin: 1rem 0;
        display: flex;
        align-items: stretch;
        flex-direction: column;
}

.login-control label,
.login-control input {
  display: block;
}

.login-control label {
        font-weight: bold;
        flex: 1;
        color: #464646;
        margin-bottom: 0.5rem;
}

.login-control input {
        flex: 3;
        font: inherit;
        padding: 0.35rem 0.35rem;
        border-radius: 6px;
        text-emphasis-color: white;
      }

.login-control input:focus {
        outline: none;
        border-color: #4f005f;
        background: #f3f3f3;
        
      }
.login-control.invalid input {
        border-color: red;
        background: #e9dafb;
      }
.login-action{
        text-align: center;
}

.login-card {
        background: rgba(102, 102, 102, 0.945);
        border-radius: 10px;
        width: 60%;
        margin-left: 20%;        
}

.login-card:hover {
        background: rgba(0, 0, 0, 0.973);
        box-shadow:  0 2px 8px rgb(86, 8, 231);
        opacity: 0.7;

}
     
.login-text{
        text-align: center;
        margin-top: 10%;        
}

span{
        color: rgb(52, 199, 15);
        text-decoration: none;
        font-weight: 600;
}

.To-Register{
        color: rgb(180, 180, 180);
}

.login-btn {
        font: inherit;
        border: 1px solid #746e6b;
        background: #7a7570;
        color: white;
        padding: 0.75rem 3.5rem;
        cursor: pointer;
        font-size: 1.15rem;
        border-radius: 30px;
}

.login-btn:hover,
.login-btn:active {
  background: rgb(0, 17, 112);
  border-color: #000000;
}

.login-btn:focus {
        outline: none;
      }

.login-btn:disabled,
.login-btn:focus:disabled,
.login-btn:hover:disabled,
.login-btn:active:disabled {
        background: #ccc;
        border-color: #ccc;
        color: #666666;
        cursor: not-allowed;
      }

